.my_button {
    display: grid;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 53px;
    background: linear-gradient(to right,var(--c1, rgb(255, 60, 0)),var(--c2,rgb(255, 166, 0)),var(--c1,rgb(255, 60, 0)))var(--x, 0)/ 200%;
    color: white;
    border-width: 0;
    border-radius: 5.2rem;
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    place-items: center;
    transition: 0.3s;   
}
.my_button:hover {
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 50px;
    width:126px;
    height: 56px;
    --x: 100%;
}

.btn
{
    display: grid;
    background: linear-gradient(to right,var(--c1, rgb(255, 60, 0)),var(--c2,rgb(255, 166, 0)),var(--c1,rgb(255, 60, 0)))var(--x, 0)/ 200%;
    color: white !important;
    border-width: 0;
    border-radius: 5.2rem;
    max-width: 80px;
    height: 30px;
    font-size: 15px;
    text-decoration: none !important;
    place-items: center;
    margin-bottom: 5px;
    transition: 0.5s;  
}
.btn:hover{
    cursor: pointer;
    --x: 100%;
}